@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Sixtyfour&display=swap'); */

@font-face {
  font-family: "Oswald";
  src: url("/fonts/oswald.woff2") format("woff2"),
    url("/fonts/oswald.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  
}

.font-oswald {
  font-family: "Oswald", sans-serif;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.custom-thin-border-right {
  border-width: 1px;
  border-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: rgb(209 213 219);
}

.custom-thin-border-bottom {
  border-width: 0px;
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-style: solid;
  border-color: rgb(209 213 219);
}

:root {
  min-width: 459px; /* check _app.js for light/dark-mode colors on the root-element */
  /* font-family: Helvetica, Arial, sans-serif;  */
  /*  font-family: system-ui;   */
  font-family: "Inter", sans-serif;
}
*/ body {
  font-size: 1rem;
  padding: 0;
}

/* h1 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
} */
/* 
h1 {
  
} */
/* 
h1 {
  font-size: 3.75rem;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  //font-weight: 400;
  font-style: normal;
}

.topButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 140px;
  right: 100px;
  z-index: 99;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.3s ease;
}

.topButton:hover {
  background-color: #5386bd;
}

.icon {
  font-size: 20px;
}

li {
  list-style: none;
}

.bookmark-btn {
  border-radius: 10px;
  padding: 10px;
}

.bookmark-btn:hover {
  background-color: #3d89db;
}
 */
