@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  min-width: 459px; /* check _app.js for light/dark-mode colors on the root-element */
}

body {
  font-size: 1rem;
}
/* 
h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}
 */