@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

root {
  min-width: 459px; /* check _app.js for light/dark-mode colors on the root-element */
  font-family: system-ui;
}

body {
  font-size: 1rem;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  //font-weight: 400;
  font-style: normal;
}

.topButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 140px;
  right: 100px;
  z-index: 99;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.3s ease;
}

.topButton:hover {
  background-color: #5386bd;
}

.icon {
  font-size: 20px;
}

li {
  list-style: none;
}

.bookmark-btn {
  border-radius: 10px;
  padding: 10px;
}

.bookmark-btn:hover {
  background-color: #3d89db;
}
